@import "tailwindcss";

:root {
  --color-bright-red: #f13a01;
}

.text-bright-red {
  color: var(--color-bright-red);
}

section.hero {
  @apply grid;
  grid-template-columns: 0.4fr 0.6fr;
}

@theme {
  --color-bright-red: #f13a01;
  --bg-primary: #f13a01;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  @apply block w-full my-4 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100;
}
input[type="email"] :disabled,
input[type="password"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-300;
}

button {
  @apply block w-full text-gray-700 font-semibold;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}
button[type="submit"],
button.submit {
  @apply bg-bright-red text-white font-bold;
  @apply rounded-xl p-2;
  @apply hover:bg-red-600 transition-colors duration-300;
}

button[type="submit"]:disabled,
button.submit:disabled {
  @apply cursor-not-allowed bg-red-300;
}
